<h1 class="text-3xl">Discover upcoming events</h1>
<p class="mt-2 mb-12">
  Browse through our diverse collection of upcoming events. Whether you're looking for entertainment, education, or networking opportunities, you'll find something that piques your interest. Curious about events you've subscribed to? <%= link_to "View your subscribed events", root_path, class: "underline" %>
</p>

<div class="my-5">
  <%= form_with url: request.path, method: :get, class: "max-w-sm", data: { turbo_frame: "listing", turbo_action: "advance", controller: "autosubmit" } do %>
    <%= hidden_field_tag :all, "y" %>
    <%= select_tag :filter, options_for_select([["Upcoming events", "upcoming"], ["All events", "all"], ["Past events", "past"]], params[:status]), { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", autocomplete: "off", data: { action: "autosubmit#onSelectChange" } } %>
  <% end %>
</div>

<%= render partial: "events" %>
