<div class="group rounded-md shadow-lg shadow-gray-200 bg-white transition-all duration-300 hover:-translate-y-1 hover:shadow-xl overflow-hidden">
  <%= link_to event_path(event), class: "cursor-pointer" do %>
    <div class="relative overflow-hidden rounded-t h-72 w-full">
      <div
        class="absolute inset-0 bg-gray-200 bg-cover bg-center blur-md scale-110"
        <% if event.image.attached? %> style="background-image: url('<%= url_for(event.image.variant(:small)) %>');"<% end %>>
      </div>
      <div class="relative z-1 h-full">
        <%= image_tag event.image.variant(:small), class: "rounded-t h-full w-full object-contain" if event.image.attached? %>
      </div>
    </div>

    <div class="p-6">
      <h3 class="text-lg sm:text-xl mb-2 text-gray-900"><%= event.title %></h3>
      <p class="text-gray-600 text-sm">
        <%= to_date(event.date_start) %> <br>
        <%= event.city %>, <%= event.country_name %>
      </p>
    </div>
  <% end %>
</div>
