<% content_for(:title) { @event.title } %>

<div class="min-h-full w-full sm:w-10/12 lg:w-8/12 mx-auto px-4 lg:px-0 py-8 lg:py-12">
  <%= render partial: "title" %>

  <p class="mt-4 mb-6 flex items-center gap-x-6">
    <span class="flex items-center">
      <%= inline_svg_tag("map-pin.svg", class: "w-5 mr-1") %> <%= @event.country %>
    </span>
    <span class="flex items-center">
      <%= inline_svg_tag("calendar.svg", class: "w-5 mr-1") %> <%= to_datetime(@event.date) %>
    </span>
  </p>
  <%= turbo_frame_tag "load-details", src: weather_event_path(@event) %>
  <p class="mt-4 mb-6 whitespace-break-spaces"><%= @event.description %></p>
</div>
